<aside class="sidebar" [class.collapsed]="collapsed">
  <button class="toggle-btn" type="button" (click)="toggle.emit()">
    ☰
  </button>

  <div class="brand">
    <div class="brand-icon">Certo</div>
    <span>CRM</span>
  </div>

  <nav>
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <span class="icon">▦</span>
      <span class="label">Dashboard</span>
    </a>

    <a routerLink="/home/users" routerLinkActive="active">
      <span class="icon">●</span>
      <span class="label">Users</span>
    </a>

    <a routerLink="/home/teams" routerLinkActive="active">
      <span class="icon">▦</span>
      <span class="label">Teams</span>
    </a>

    <a routerLink="/home/emails" routerLinkActive="active">
      <span class="icon">✉</span>
      <span class="label">Emails</span>
    </a>
  </nav>

  <a class="profile-card" routerLink="/home/profile">
  <div class="avatar">
    <img
      *ngIf="profilePictureUrl; else initials"
      [src]="profilePictureUrl"
      [alt]="user?.name"
    />

    <ng-template #initials>
      {{ userInitial }}
    </ng-template>
  </div>

    <div class="profile-info">
      <strong>{{ user?.name || 'Unknown User' }}</strong>

      <span>
        {{ user?.role || 'No role assigned' }}
      </span>
    </div>
  </a>

</aside>