* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  background: #eef6fa;
}

body {
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
}